<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT memberSection ANY>
<!ATTLIST memberSection id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1084" key="cb53bed5-e073-44a6-aa77-a62101b4812a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:58:48" updateDate="2017-03-26T00:44:39" nodeName="Homepage" urlName="homepage" path="-1,1084" isDoc="" nodeType="1051" creatorName="Kasper" writerName="Kasper" writerID="0" template="1050" nodeTypeAlias="homepage">
    <metaDescription><![CDATA[Meta description]]></metaDescription>
    <metaKeywords><![CDATA[Meta Keywords]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Aarhus Web Dev Coop Project ]]></siteTitle>
    <projectsOverview id="1088" key="261fbbcb-fde3-4977-b017-ced0a3c344e5" parentID="1084" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T12:08:08" updateDate="2017-03-25T19:49:26" nodeName="Projects" urlName="projects" path="-1,1084,1088" isDoc="" nodeType="1065" creatorName="Kasper" writerName="Kasper" writerID="0" template="1064" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>1</umbracoNaviHide>
      <projectItem id="3121" key="4973e1c3-5b83-4ed6-8154-178e0115a97c" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2017-03-22T10:06:59" updateDate="2017-03-22T10:06:59" nodeName="Not completed project" urlName="not-completed-project" path="-1,1084,1088,3121" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[A project that aint completed]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Not completed]]></projectTitle>
        <projectDescription><![CDATA[<p>OMG it aint finished</p>]]></projectDescription>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="3122" key="399996b1-9dac-4350-ae4f-88b59ba25441" parentID="1088" level="3" creatorID="0" sortOrder="3" createDate="2017-03-22T10:13:46" updateDate="2017-03-22T10:13:46" nodeName="A new completed project" urlName="a-new-completed-project" path="-1,1084,1088,3122" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[A new completed project]]></projectTitle>
        <projectDescription><![CDATA[<p>WE DID IT! </p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
      <projectItem id="3135" key="1dfb8075-50ad-4ef7-ad1a-fd99b3fd0eec" parentID="1088" level="3" creatorID="0" sortOrder="4" createDate="2017-03-25T19:36:21" updateDate="2017-03-25T19:44:49" nodeName="New idea project" urlName="new-idea-project" path="-1,1084,1088,3135" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Idea project]]></projectTitle>
        <projectDescription><![CDATA[<p>This is a project in the ideation stage.</p>]]></projectDescription>
        <projectStatus>8</projectStatus>
      </projectItem>
      <projectItem id="3136" key="6e3cc420-330d-4b29-9e2a-ceb36d01f745" parentID="1088" level="3" creatorID="0" sortOrder="5" createDate="2017-03-25T19:38:26" updateDate="2017-03-25T19:38:26" nodeName="comp pro" urlName="comp-pro" path="-1,1084,1088,3136" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Comp.pro #2]]></projectTitle>
        <projectDescription><![CDATA[<p>second completed project</p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
      <projectItem id="3137" key="c8234410-9f0c-4695-b24b-d9636017de30" parentID="1088" level="3" creatorID="0" sortOrder="6" createDate="2017-03-25T19:38:52" updateDate="2017-03-25T19:38:52" nodeName="Comp Pro2" urlName="comp-pro2" path="-1,1084,1088,3137" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Comp.pro #3]]></projectTitle>
        <projectDescription><![CDATA[<p>Hello World</p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1091" key="4e9aaa4a-dec9-487a-8c78-5113b9576193" parentID="1084" level="2" creatorID="0" sortOrder="4" createDate="2017-02-08T12:09:37" updateDate="2017-03-22T10:27:59" nodeName="News articles" urlName="news-articles" path="-1,1084,1091" isDoc="" nodeType="1059" creatorName="Kasper" writerName="Kasper" writerID="0" template="1058" nodeTypeAlias="articlesOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>dey took our jeeerbs</p>]]></articlesBodyText>
      <articleItem id="1092" key="7af57f88-0dbb-4db6-ae1f-6134849d2f8b" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:10:05" updateDate="2017-02-08T12:10:05" nodeName="dey took our jerbs" urlName="dey-took-our-jerbs" path="-1,1084,1091,1092" isDoc="" nodeType="1062" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <articleTitle><![CDATA[dey took our jerbs]]></articleTitle>
        <articlesBodyText><![CDATA[<p>no job for u</p>]]></articlesBodyText>
      </articleItem>
      <articleItem id="3139" key="89319406-9882-459f-b19d-7f344bdb1e57" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-03-26T00:12:44" updateDate="2017-03-26T00:12:44" nodeName="New Article" urlName="new-article" path="-1,1084,1091,3139" isDoc="" nodeType="1062" creatorName="Kasper" writerName="Kasper" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[A new Article]]></articleTitle>
        <articlesBodyText><![CDATA[<p>something goes here</p>]]></articlesBodyText>
      </articleItem>
    </articlesOverview>
    <sitemap id="1098" key="ffe29206-e85d-449b-b286-585ce73b223a" parentID="1084" level="2" creatorID="0" sortOrder="5" createDate="2017-02-15T14:25:00" updateDate="2017-02-15T14:25:00" nodeName="Sitemap" urlName="sitemap" path="-1,1084,1098" isDoc="" nodeType="1096" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1095" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1103" key="605f7544-c4da-48bf-a33a-27204c039cf5" parentID="1084" level="2" creatorID="0" sortOrder="6" createDate="2017-02-22T09:21:59" updateDate="2017-02-22T09:21:59" nodeName="Contact Us" urlName="contact-us" path="-1,1084,1103" isDoc="" nodeType="1102" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1101" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <memberSection id="3126" key="3fd1fbfe-faaf-4b6b-bab0-e0921463069f" parentID="1084" level="2" creatorID="0" sortOrder="7" createDate="2017-03-22T11:16:39" updateDate="2017-03-22T11:16:39" nodeName="Members" urlName="members" path="-1,1084,3126" isDoc="" nodeType="3125" creatorName="Kasper" writerName="Kasper" writerID="0" template="3124" nodeTypeAlias="memberSection" />
    <login id="3127" key="5a0e7f79-43fa-4bd7-b3bc-163b6253015a" parentID="1084" level="2" creatorID="0" sortOrder="8" createDate="2017-03-24T13:26:21" updateDate="2017-03-26T01:17:20" nodeName="Login" urlName="login" path="-1,1084,3127" isDoc="" nodeType="3120" creatorName="Kasper" writerName="Kasper" writerID="0" template="3119" nodeTypeAlias="login">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <textPage id="3128" key="e69d8af1-90a0-46ba-a12a-9d885da4cdb1" parentID="1084" level="2" creatorID="0" sortOrder="9" createDate="2017-03-24T14:12:30" updateDate="2017-03-24T14:16:50" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1084,3128" isDoc="" nodeType="1056" creatorName="Kasper" writerName="Kasper" writerID="0" template="1055" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <header><![CDATA[FORBIDDEN ACCESS]]></header>
      <mainContent><![CDATA[<p>YOU DONT HAVE ACCESS TO THIS PAGE! PLEASE LOGIN TO GAIN ACCESS!</p>]]></mainContent>
    </textPage>
    <aboutUs id="3134" key="c53054f3-1f86-4ace-9be5-cab06538924a" parentID="1084" level="2" creatorID="0" sortOrder="10" createDate="2017-03-25T14:02:14" updateDate="2017-03-25T15:21:44" nodeName="About us" urlName="about-us" path="-1,1084,3134" isDoc="" nodeType="3133" creatorName="Kasper" writerName="Kasper" writerID="0" template="3132" nodeTypeAlias="aboutUs">
      <layout><![CDATA[{
  "name": "grid layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "3 collum about us",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About Us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Vision",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span><span>Our vision </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "People",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span><span>My people my people </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Skills",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span><span>Our skills </span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "",
          "hasConfig": false,
          "id": "9003c2b5-c129-3962-30f2-371bb02c985f"
        }
      ]
    }
  ]
}]]></layout>
    </aboutUs>
  </homepage>
</root>