<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT memberSection ANY>
<!ATTLIST memberSection id ID #REQUIRED>
]>
<root id="-1">
  <homepage id="1084" key="cb53bed5-e073-44a6-aa77-a62101b4812a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:58:48" updateDate="2017-02-08T11:58:58" nodeName="Homepage" urlName="homepage" path="-1,1084" isDoc="" nodeType="1051" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1050" nodeTypeAlias="homepage">
    <metaDescription><![CDATA[Meta description]]></metaDescription>
    <metaKeywords><![CDATA[Meta Keywords]]></metaKeywords>
    <umbracoNaviHide>0</umbracoNaviHide>
    <mainContent><![CDATA[<p>suuuuuuuh dud</p>]]></mainContent>
    <textPage id="1087" key="ac0cdcfd-dafa-4ba5-b33d-79ecfda7571f" parentID="1084" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T12:07:44" updateDate="2017-02-11T12:18:24" nodeName="About us" urlName="about-us" path="-1,1084,1087" isDoc="" nodeType="1056" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1055" nodeTypeAlias="textPage">
      <header><![CDATA[About us]]></header>
      <mainContent><![CDATA[<p>Some dank ass text here about us</p>]]></mainContent>
    </textPage>
    <projectsOverview id="1088" key="261fbbcb-fde3-4977-b017-ced0a3c344e5" parentID="1084" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T12:08:08" updateDate="2017-02-15T10:48:02" nodeName="Projects" urlName="projects" path="-1,1084,1088" isDoc="" nodeType="1065" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1064" nodeTypeAlias="projectsOverview">
      <umbracoNaviHide>1</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>Siiiiiiiiiiiiiiiiiick duuude</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Our projects]]></projectsTitle>
      <projectItem id="1089" key="f8741a82-9efc-4b52-979f-c2bc47aa6731" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:08:54" updateDate="2017-02-15T11:17:34" nodeName="Siiiiiiiiiiick ass project mayyyn!" urlName="siiiiiiiiiiick-ass-project-mayyyn" path="-1,1084,1088,1089" isDoc="" nodeType="1069" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Siiiiiiiiiiick ass project mayyyn!]]></projectTitle>
        <projectDescription><![CDATA[<p>such sick, much wow - no NA</p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
      <projectItem id="1090" key="4d8a260d-672b-4beb-80e7-62d5e15446d6" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:09:14" updateDate="2017-03-22T10:05:57" nodeName="sååååp bro" urlName="saaaaaaaap-bro" path="-1,1084,1088,1090" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[sååååp bro]]></projectTitle>
        <projectDescription><![CDATA[<p>dunno dafuq</p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
      <projectItem id="3121" key="4973e1c3-5b83-4ed6-8154-178e0115a97c" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2017-03-22T10:06:59" updateDate="2017-03-22T10:06:59" nodeName="Not completed project" urlName="not-completed-project" path="-1,1084,1088,3121" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <metaDescription><![CDATA[A project that aint completed]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Not completed]]></projectTitle>
        <projectDescription><![CDATA[<p>OMG it aint finished</p>]]></projectDescription>
        <projectStatus>10</projectStatus>
      </projectItem>
      <projectItem id="3122" key="399996b1-9dac-4350-ae4f-88b59ba25441" parentID="1088" level="3" creatorID="0" sortOrder="3" createDate="2017-03-22T10:13:46" updateDate="2017-03-22T10:13:46" nodeName="A new completed project" urlName="a-new-completed-project" path="-1,1084,1088,3122" isDoc="" nodeType="1069" creatorName="Kasper" writerName="Kasper" writerID="0" template="1068" nodeTypeAlias="projectItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[A new completed project]]></projectTitle>
        <projectDescription><![CDATA[<p>WE DID IT! </p>]]></projectDescription>
        <projectStatus>11</projectStatus>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1091" key="4e9aaa4a-dec9-487a-8c78-5113b9576193" parentID="1084" level="2" creatorID="0" sortOrder="4" createDate="2017-02-08T12:09:37" updateDate="2017-03-22T10:27:59" nodeName="News articles" urlName="news-articles" path="-1,1084,1091" isDoc="" nodeType="1059" creatorName="Kasper" writerName="Kasper" writerID="0" template="1058" nodeTypeAlias="articlesOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>dey took our jeeerbs</p>]]></articlesBodyText>
      <articleItem id="1092" key="7af57f88-0dbb-4db6-ae1f-6134849d2f8b" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:10:05" updateDate="2017-02-08T12:10:05" nodeName="dey took our jerbs" urlName="dey-took-our-jerbs" path="-1,1084,1091,1092" isDoc="" nodeType="1062" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <articleTitle><![CDATA[dey took our jerbs]]></articleTitle>
        <articlesBodyText><![CDATA[<p>no job for u</p>]]></articlesBodyText>
      </articleItem>
      <articleItem id="1093" key="3285df96-31dc-4359-9d83-f2ca399073e9" parentID="1091" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:10:18" updateDate="2017-02-11T12:28:40" nodeName="damm dude" urlName="damm-dude" path="-1,1084,1091,1093" isDoc="" nodeType="1062" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1061" nodeTypeAlias="articleItem">
        <articleTitle><![CDATA[damm dude]]></articleTitle>
        <articlesBodyText><![CDATA[<p>damm dude</p>]]></articlesBodyText>
        <grid><![CDATA[{
  "name": "3 Column Layout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "dafuq",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>dfasfdasfd</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "095507af-e284-6166-0d76-e7f368a5983d",
          "hasActiveChild": true,
          "active": true
        }
      ]
    },
    {
      "grid": 4,
      "rows": []
    },
    {
      "grid": 4,
      "rows": []
    }
  ]
}]]></grid>
      </articleItem>
    </articlesOverview>
    <sitemap id="1098" key="ffe29206-e85d-449b-b286-585ce73b223a" parentID="1084" level="2" creatorID="0" sortOrder="5" createDate="2017-02-15T14:25:00" updateDate="2017-02-15T14:25:00" nodeName="Sitemap" urlName="sitemap" path="-1,1084,1098" isDoc="" nodeType="1096" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1095" nodeTypeAlias="sitemap">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <contactPage id="1103" key="605f7544-c4da-48bf-a33a-27204c039cf5" parentID="1084" level="2" creatorID="0" sortOrder="6" createDate="2017-02-22T09:21:59" updateDate="2017-02-22T09:21:59" nodeName="Contact Us" urlName="contact-us" path="-1,1084,1103" isDoc="" nodeType="1102" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1101" nodeTypeAlias="contactPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <memberSection id="3126" key="3fd1fbfe-faaf-4b6b-bab0-e0921463069f" parentID="1084" level="2" creatorID="0" sortOrder="7" createDate="2017-03-22T11:16:39" updateDate="2017-03-22T11:16:39" nodeName="Members" urlName="members" path="-1,1084,3126" isDoc="" nodeType="3125" creatorName="Kasper" writerName="Kasper" writerID="0" template="3124" nodeTypeAlias="memberSection" />
  </homepage>
</root>