@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
@{
	var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc");
}
@foreach (var item in selection)
{
	<div class="col-md-4">
		<h2><a href="@item.Url">@item.name</a></h2>
		<p>@Umbraco.Truncate(item.articlesBodyText.ToString(),200)</p>
		<p><b>Udgivet: @item.CreateDate</b></p>
		</div>
}