@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
@{
	var selection = CurrentPage.Site().Children.Where("DocumentTypeAlias == \"projectsOverview\"").First().Children.Where("projectStatus == @0", 11).OrderBy("CreateDate desc").Take(5);

}
<h3>Our Completed projects</h3>
<ul>
	@foreach (var item in selection.Where("Visible"))
	{
		<li><a href="@item.Url">@item.Name</a></li>
	}
</ul>